# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Continuous Deploy

on:
  push:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-18.04

    strategy:
      matrix:
        node-version: [16.x]

    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      # - run: echo '${{ secrets.ENV_DEV }}' > .env
      - run: npm i
      - run: npm i -g cross-env next
      - run: npm run build --if-present
        env:
          CI: false
      #     - run: npm test
      #       env:
      #         CI: true
      - name: Deploy
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          # aws s3 sync out s3://mint.mib19metaspace.com --region ap-northeast-2 --delete
        run: |
          aws s3 cp --recursive --region ap-northeast-2 out s3://mint.mib19metaspace.com
          find ./ -type f -name ".html" | while read fname; do
            dirname=dirname "$fname"
            filename=basename "$fname"
            newname=`echo "$filename" | sed 's/.[^.]$//'`
            aws s3 cp "${dirname}/$filename" "s3://mint.mib19metaspace.com/$newname" --content-type "text/html"
          done
          aws cloudfront create-invalidation --distribution-id E1YQLFVWP7F0N7 --paths "/*"
